.about {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: 1fr 3fr 1fr;
}

.main {
  display:grid;

  grid-template-areas: 
          "intro"
          "experiences"
          "certifications"
          "technologies"
          "contacts";
  
  grid-template-rows: repeat(5, 1fr);

  gap : 40vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h1,h2,i {
  color:rgb(240, 238, 238);

}

ul {
  list-style-type: none;
}
