a {
  text-decoration: none;
  pointer-events: all;
  transition: color 0.2s ease-in-out;
}

a:hover {
  cursor: pointer;
  color : white;
}

.bottom-part {
  @media (max-width : 500px) {
    display: none;
  }
}