h1 {
  font-size: 4rem;
}



.About{
  /* border:2px solid white; */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-image {
  width: 50vh;
  height: 50vh;
  border: 2px solid tomato;
}

.about-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}