h1 {
  font-size: 4rem;
}

.About{
  /* border:2px solid white; */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width:40vw;
}

.text-container {
  /* border: 2px solid skyblue; */
}

.text-container p {
  display: inline;
}

.image-container {
  /* border: 2px solid tomato; */
}

.image-container img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}