@import url('../index.css');

*::selection{
  background-color: white;
  color:black;
}

.Home {
  text-align: center;
}

.Home h1 {
  font-size: 4rem;
  font-weight: var(--font-semibold);
  margin:1px;
}
.Home h3 {
  font-size: 2rem;
  font-weight: var(--font-medium);
}

.Home p {
  font-weight: 400;
}

.Home video {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,.7);
  z-index: -1;
}

.Home-section {
  /* background-color: #282c34; */
  background-color: transparent !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border:solid 2px skyblue !important; */
}

.section-text{
}

.section-button {
  /* border : 2px solid tomato; */
  margin:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-button a{
  padding:0px 30px;
  text-decoration: none;
  color:inherit;
  border: 2px solid white;
  transition: .3s background-color ease-in-out;
}

.section-button a:hover{
  background-color: white;
  color: black;
}